<!DOCTYPE html>
<html ng-app = "store">
    <head>
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<!--         // <script src="http://code.angularjs.org/1.1.4/angular.min.js"></script> -->
        <script type="text/javascript" src="script.js"></script>
        <script type="text/javascript" src="products.js"></script>

        <link href="style.css" rel="stylesheet">
        <meta charset="utf-8">
        <title>Template</title>
    </head>

    <body ng-controller = "StoreController as store">
      <div>
            <div class = "center">

                <div class="list-group-item" ng-repeat="product in store.products | orderBy:'-price'"  >
                  <div ng-hide="product.soldOut">

                    <product-title>
                    </product-title>

                    <product-panels>
                    </product-panels>

                    <button ng-show = "product.canOrdered">Заказать</button>
                  </div>
                </div>
            </div>


            <div class="product-form">
                <!-- <form name="productForm" ng-controller="ProductController as productCtrl"
                    ng-submit="productForm.$valid && store.addPro(productCtrl.product) && productCtrl.add() " novalidate> -->
                <form name="productForm" ng-controller="ProductController as productCtrl"
                    ng-submit="productForm.$valid && productCtrl.addProduct() " novalidate>
                            <p>Добавить новый продукт: </p>

                            <blockquote>
                                <p>Название: {{productCtrl.product.name}}  </p>
                                <p>Цена: {{productCtrl.product.price}}<p>
                                <p>Картинка: {{productCtrl.product.image}}<p>
                                <p>Количество на складе: {{productCtrl.product.count}}<p>
                                <p>Описание: {{productCtrl.product.description}}<p>
                            </blockquote>
                            <br>
                            <label for="name">Название  </label><br>
                            <input name="name" ng-model="productCtrl.product.name" type="text" required/>
                            <br><br>
                            <label for="name">Цена  </label><br>
                             <input name="price" ng-model="productCtrl.product.price" type="number" required/>
                            <br><br>
                            <label for="name">Адрес изображения  </label><br>
                             <input name="image" ng-model="productCtrl.product.image" type="url" required/>
                            <br><br>
                            <label for="name">Количество на складе  </label><br>
                             <input name="count" ng-model="productCtrl.product.count" type="number" required/>
                            <br><br>
                            <label for="name">Описание  </label><br>
                            <textarea name="description" ng-model="productCtrl.product.description" required></textarea>
                            <div> productForm is {{productForm.$valid}}</div>
                            <input type="submit" value="Submit" />
                </form>
            </div>
      </div>

    </body>


</html>