<form name="productForm" ng-submit="submit($event)" novalidate class="list">
    <br>
    <p>Добавить новый продукт: </p>
     <p>{{hey}}</p>

    <blockquote>
        <p>Название: {{product.name}}  </p>
        <p>Цена: {{product.price}}<p>
        <p>Картинка: {{product.image}}<p>
        <p>Количество на складе: {{product.count}}<p>
        <p>Описание: {{product.description}}<p>
    </blockquote>

    <br>
    <label for="name">Название  </label><br>
    <input name="name" ng-model="product.name" type="text"/>
    <br><br>
    <label for="name">Цена  </label><br>
    <input name="price" ng-model="product.price" />
    <!-- <label ng-show ="!priceIsNum" class="error-mess"> в поле должно быть введено числовое значение</label> -->
    <br><br>
    <label for="name">Адрес изображения  </label><br>
    <input name="image" ng-model="product.image" type="url"/>
    <br><br>
    <label for="name">Количество на складе  </label><br>
    <input name="count" ng-model="product.count" />
    <br><br>
    <label for="name">Описание  </label><br>
    <textarea name="description" ng-model="product.description"></textarea>
    <input type="submit" value="Submit" />
    <br>
    <a href="#/products">Скрыть</a>

</form>



