<div>

    <br>
    Витрина:
    <div class="list" ng-repeat="product in CtrlList.products" >
    <br>

        <div>

		    <h1>{{product.attrs.name}}</h1>
		    <br>
		    <img width="300pt" ng-src="{{product.attrs.image}}">
		    <div style="color:#ff0000" align="right">цена:  {{product.attrs.price | currency}} </div>
		    <div style="color:#ff0000" align="right">количество:  {{product.attrs.count}}</div>
		    <div style="color:#ff0000" align="right">id:  {{product.attrs.id}}</div>
		    <div>{{product.attrs.description}}</div>
		</div>

        <button ng-click="CtrlList.deleteClicked($event, product)">Удалить</button>
    </div>

</div>

